<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quiet_Attic_Films.Properties.Settings.QAFilmsConnectionString"
            connectionString="Data Source=DESKTOP-34IUHMM\SQLEXPRESS;Initial Catalog=QAFilms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Quiet_Attic_Films.Properties.Settings.QAFilmsConnectionString1"
            connectionString="Data Source=DESKTOP-30NVOUQ\SQLEXPRESS;Initial Catalog=QAFilms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>